/.idea/.idea.kata_backpack/.idea/encodings.xml
/kata_backpack/obj/Debug/net8.0/kata_backpack.AssemblyInfo.cs
/kata_backpack/obj/Debug/net8.0/kata_backpack.AssemblyInfoInputs.cache
/kata_backpack/obj/Debug/net8.0/kata_backpack.assets.cache
/kata_backpack/obj/kata_backpack.csproj.nuget.dgspec.json
/kata_backpack/obj/kata_backpack.csproj.nuget.g.props
/kata_backpack/obj/Debug/net8.0/kata_backpack.csproj.AssemblyReference.cache
/kata_backpack/obj/Debug/net8.0/kata_backpack.GeneratedMSBuildEditorConfig.editorconfig
/kata_backpack/obj/project.nuget.cache
/kata_backpack/obj/rider.project.model.nuget.info
/kata_backpack/obj/rider.project.restore.info
/kata_backpack/obj/project.packagespec.json
/kata_backpack/obj/project.assets.json
/kata_backpack/obj/Debug/net8.0/kata_backpack.GlobalUsings.g.cs
/kata_backpack/obj/kata_backpack.csproj.nuget.g.targets
/kata_backpack/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/.idea/.idea.kata_backpack/.idea/.gitignore
/kata_backpack/bin
/kata_backpack/obj